{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Ayvu - Language Study{% endblock %}

{% block content %}

<form class="mb-4 rounded-3 mx-auto" style="max-width: 500px;" method="post">
  <div class="p-3">
    <h1 class="f-logo">Language study made easy and fun!</h1>
  </div>
  <div class="p-3">
    <div class="row g-3">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <input type="submit" class="w-100 btn btn-lg btn-primary mt-4" value="Login" />
  </div>
</form>

{% endblock content %}
