{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 3fr;">
    <div class="inner-container py-3 px-4">
      <a href="{% url 'resource:list' %}" class="w-100 my-2 btn btn-secondary">Resources</a>
      <a href="{% url 'vocabulary:list' %}" class="w-100 my-2 btn btn-secondary">Vocabulary</a>
      <a href="{% url 'resource:create' %}" class="w-100 my-2 btn btn-secondary">Add resource</a>
      <a href="{% url 'vocabulary:create' %}" class="w-100 my-2 btn btn-secondary">Add vocabulary</a>
    </div>
    <div class="inner-container py-3 px-4">
      {% block inner_content %}{% endblock inner_content %}
    </div>
  </div>
</div>
{% endblock content %}
