{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pb-3">
  <div class="d-flex flex-column flex-md-row gap-3">
    <div class="inner-container col-12 col-md-3 py-2 px-3 py-md-3 px-md-4">
      <a href="{% url 'resource:list' %}" class="w-100 my-2 btn btn-secondary">Resources</a>
      <a href="{% url 'vocabulary:list' %}" class="w-100 my-2 btn btn-secondary">Vocabulary</a>
      <a href="{% url 'resource:create' %}" class="w-100 my-2 btn btn-secondary">Add resource</a>
      <a href="{% url 'vocabulary:create' %}" class="w-100 my-2 btn btn-secondary">Add vocabulary</a>
    </div>
    <div class="inner-container col-12 col-md-9 py-2 py-md-3 px-3 px-md-4">
      {% block inner_content %}{% endblock inner_content %}
    </div>
  </div>
</div>
{% endblock content %}
