@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&Comfortaa:wght@700&display=swap");

body {
  font-family: Rajdhani,sans-serif;
  background-color: #b8d8d8;
  background-color: #eef5db;
  background-color: #ffffff;
  background-color: #8ea4d2;
  background-color: #7a9e9f;
  background-color: #f9fbf2;
  background-color: #F3F7FA;
  background-color: #f8f8fb;
}

main {
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg-light {
  background-color: #fff!important;
}

.logo {
  font-family: 'Fredoka One', cursive;
  font-weight: 700;
  color: #49516f;
}

.f-logo {
  font-family: 'Comfortaa', cursive;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #49516f;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #49516f;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #8ea4d2;
    background-color: #23d2e2;
    box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
    border-radius: 10px;
    border-color: #23d2e2;
}

.inner-container {
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
  background-color: #fff;
}

.select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.btn {
    color: #fff;
    font-size: .875rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
}

.btn-sm {
    line-height: 30px;
    padding: 0.25rem 0.8rem;
}

.btn-primary {
    background-color: #23d2e2;
    box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
    border-radius: 10px;
    border-color: #23d2e2;
}

.btn-primary:hover {
    background-color: #1bc5d4;
    border-color: #23d2e2;
}

.btn-secondary {
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);
    border-radius: 10px;
}

.btn-secondary:hover {
    background-color: #5753e4;
}


.list-group-item-secondary {
    background-color: #f7f7f7;
}

.list-group-item-secondary:hover {
    background-color: #f7f7f7;
}


.vocabulary-link, .resource-link {
  font-weight: 700;
  text-decoration: none;
}

.vocabulary-link:hover, .resource-link:hover {
  text-decoration: underline;
}


.grid-md-layout {
  grid-template-columns: 1fr 3fr;
}
