{% extends 'inner_pg_base.html' %}
{% load static i18n %}

{% block title %}Resource List{% endblock %}

{% block inner_content %}

<div class="card-header bg-light py-3">
  <h4 class="mb-3">Resource List</h4>
</div>
<div class="card-body p-4">

  {% for material in object_list %}
  <p><a href="{% url 'material:detail' material.pk %}">{{ material.title }}</a> | {{ material.language }} | {{ material.get_level_display }}
    {% if material.url %}
    <br /><a href="{{ material.url }}" target="_blank">{{ material.url }}</a>
    {% endif %}
  </p>
  {% endfor %}

</div>

{% endblock inner_content %}
