{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Resource Detail{% endblock %}

{% block content %}

<h4>{{ material.title }}</h4>
<p>{{ material.description }}</p>
<p>{% translate "Language" %}: {{ material.language }} | {{ material.get_level_display }}</p>
{% if material.url %}
<p>URL: <a href="{{ material.url }}">{{ material.url }}</a></p>
{% endif %}

<h5>Vocabulary</h5>
<ul>
  {% for vocabulary in material.vocabulary.all %}
  <li><a href="{% url 'vocabulary:detail' vocabulary.pk %}">{{ vocabulary }}</a></li>
  {% endfor %}
</ul>
<a href="{% url 'vocabulary:create' %}" class="btn btn-outline-primary">Add vocabulary</a>


{% endblock content %}
