{% extends 'inner_pg_base.html' %}
{% load static i18n %}

{% block title %}Vocabulary Detail{% endblock %}

{% block inner_content %}

<div class="card-header bg-light py-3">
  <h4>{{ vocabulary.word }}</h4>
</div>
<div class="card-body p-4">

  <p>{{ vocabulary.language }} | {{ vocabulary.get_level_display }}</p>
  <p>{% translate "Definition" %}: {{ vocabulary.word }}</p>

  <h5 class="mt-5">Synonyms</h5>
  <ul>
    {% for synonym in vocabulary.synonyms.all %}
    <li><a href="{% url 'vocabulary:detail' synonym.pk %}">{{ synonym }}</a></li>
    {% empty %}
    <li>Nothing here, add more vocabulary!</li>
    {% endfor %}
  </ul>

</div><div class="card-footer p-4">
  <h5>Resources</h5>
  <ul>
    {% for resource in vocabulary.resources.all %}
    <li><a href="{% url 'resource:detail' resource.pk %}">{{ resource }}</a></li>
    {% empty %}
    <li>No resource here, add some!</li>
    {% endfor %}
  </ul>
  <a href="{% url 'resource:create' %}" class="btn btn-primary">Add resource</a>

</div>

{% endblock inner_content %}
