{% extends 'inner_pg_base.html' %}
{% load static i18n %}

{% block title %}Vocabulary Detail{% endblock %}

{% block inner_content %}

<h4>{{ vocabulary.word }}</h4>
<p>{% translate "Definition" %}: {{ vocabulary.definition }}</p>
<p>{{ vocabulary.language }} | {{ vocabulary.get_level_display }}</p>

<h5>Synonyms</h5>
<ul>
  {% for synonym in vocabulary.synonyms.all %}
  <li><a href="{% url 'vocabulary:detail' synonym.pk %}">{{ synonym }}</a></li>
  {% endfor %}
</ul>

<h5>Materials</h5>
<ul>
  {% for material in vocabulary.materials.all %}
  <li><a href="{% url 'material:detail' material.pk %}">{{ material }}</a></li>
  {% endfor %}
</ul>

{% endblock inner_content %}
