{% extends 'inner_pg_base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Add Vocabulary{% endblock %}

{% block inner_content %}

<form class="mb-4 rounded-3 mx-auto" method="post">
  <div class="card-header py-3 bg-light">
    <h4>New vocabulary:</h4>
  </div>
  <div class="card-body p-4">
    <div class="row g-3">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <input type="submit" class="btn btn-lg btn-primary mt-4" value="Save vocabulary" />
  </div>
</form>

{% endblock inner_content %}
