{% extends 'inner_pg_base.html' %}
{% load static i18n %}

{% block title %}
{% translate "Vocabulary List" %}
{% endblock %}

{% block inner_content %}

<div class="card-header bg-light py-3">
  <h4 class="mb-3">{% translate "Vocabulary List" %}</h4>
</div>
<div class="card-body p-4">

  {% for vocabulary in object_list %}
  <p>
    <a href="{% url 'vocabulary:detail' vocabulary.pk %}">{{ vocabulary.word }}</a>
    | {{ vocabulary.language }} | {{ vocabulary.get_level_display }}
    <br />

    <ul>
    {% for definition in vocabulary.definitions.all %}
      <li><em>{{ definition.part_of_speech.part_of_speech }}:</em> {{ definition.definition }}</li>
    {% empty %}
      <em>{% translate "No definition found." %}</em>
    {% endfor %}
    </ul>

  </p>
  {% endfor %}

</div>

{% endblock inner_content %}
