{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Add Vocabulary{% endblock %}

{% block content %}

<form class="mb-4 rounded-3 mx-auto" style="max-width: 700px;" method="post">
  <div class="card-header py-3">
    <h4>New vocabulary:</h4>
  </div>
  <div class="card-body p-4">
    <div class="row g-3">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <input type="submit" class="w-100 btn btn-lg btn-primary mt-4" value="Save vocabulary" />
  </div>
</form>

{% endblock content %}
